* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-menu {
    background-color: rgb(245, 123, 75);
    position: fixed;
    top: 60px;
    left: 0px;
    width: 0;
    height: calc(100% - 60px);
    overflow-x: hidden;
    transition: all 0.1s linear;
    z-index: 2;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;


}

.menu-item {
    font-size: 34px;
}

#burger-icon {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;
}

.main-component {
    height: calc(100vh-60px);
    margin: auto;
    display: flex;
    width: 100%;
    align-items: stretch;

    flex-direction: column;
}

#login-component {
    width: 400px;
    margin: auto;
}

#login-component form {
    display: flex;
    flex-direction: column;

}

#login-component form>* {
    margin: 20px 0px;

}

h1 {
    font-size: 60px;
    text-align: center;
}

label {
    font-size: 30px;
    display: inline-block;
    width: 100%;
}

input {
    height: 36px;
    font-size: 24px;
    width: 100%;
}

#topbar-component {
    width: 100%;
    min-height: 60px;
    background-color: skyblue;
    position: sticky;
    top: 0;
}

.user-chat-icon {
    width: 30px;
    height: 30px;
}

.chat-component {
    background-color: red;
    height: calc(100vh - 60px);
    overflow: auto;
}

.message-box {
    background-color: rgb(4, 77, 77);
    height: calc(100vh - 100px);
    overflow-y: scroll;

    flex-direction: column;
}

.message {
    display: flex;
    align-items: flex-start;
    min-height: 40px
}

.message>* {
    margin: 2px 3px;
}

.time-span {
    display: flex;
    font-size: 12px;
    align-items: center;
    max-height: fit-content;
    height: 30px;

}

.message-content {
    max-width: 65%;
    word-break: break-all;
    font-size: 15px;
}

.owner {
    color: rgb(255, 104, 104);
    flex-direction: row-reverse;
}

.username {
    font-weight: bold;
}

.username::after {
    content: ":";
}

.owner>.username::before {
    content: ": ";
}

.owner>.username::after {
    content: "";
}

.send-message-form {
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
}

.send-message-form form {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.send-message-form form * {
    height: 100%;
}

.message-input {
    font-size: 16px;
}

.register-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: auto;
}

.register-component form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.register-component form>* {
    margin: 20px 0;
}