:root {


    --color0: #0d1b2a;
    --color1: #1b263b;
    --color2: #415a77;
    --color3: #778da9;
    --color4: #e0e1dd;

}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--color4);
    color: var(--color0);
}

#app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-menu {
    background-color: var(--color3);
    position: fixed;
    top: 60px;
    left: 0px;
    width: 0;
    height: calc(100% - 60px);
    overflow-x: hidden;
    transition: all 0.1s linear;
    z-index: 2;
    box-shadow: 1px 5px 10px;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;


}

.menu-item {
    font-size: 30px;
    padding: 10px;
    width: 80%;
    border-bottom: solid 1px var(--color4);
}

.menu-item a {
    display: inline-block;
    text-decoration: none;
    color: var(--color4);
    height: 100%;
    width: 100%;
    white-space: nowrap;
}

#burger-icon {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;
}

.main-component {
    height: calc(100vh - 60px);
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}



h1 {
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

label {
    font-size: 18px;
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}

input {
    height: 36px;
    font-size: 18px;
    width: 100%;
    border-radius: 10px;
    padding: 3px;
    border: 1px solid var(--color1);
}

input[type="submit"] {
    max-width: 200px;
}

#topbar-component {
    width: 100%;
    min-height: 60px;
    background-color: var(--color2);
    box-shadow: 0px 0px 10px #0d1b2a;
    position: sticky;
    top: 0;
}

.user-chat-icon {
    width: 30px;
    height: 30px;
}

.chat-component {
    height: calc(100vh - 60px);
    overflow: auto;
}

.message-box {

    height: calc(100vh - 120px);
    overflow-y: scroll;
    flex-direction: column;
}

.message {

    display: flex;
    align-items: flex-start;
    min-height: 40px
}

.message>* {
    margin: 2px 3px;
}

.time-span {
    display: flex;
    font-size: 18px;
    align-items: center;
    max-height: fit-content;
    height: 30px;

}

.message-content {
    background-color: var(--color3);
    border-radius: 6px;
    padding: 8px;
    line-height: 1.5em;

    max-width: 65%;
    overflow-wrap: break-word;
    font-size: 18px;
    text-align: left;
}

.owner {
    flex-direction: row-reverse;
}

.owner .message-content {
    background-color: var(--color2);
    color: var(--color4);
}

.username {
    font-weight: bold;
}

.username::after {
    content: ":";
}

.owner>.username::before {
    content: ": ";
}

.owner>.username::after {
    content: "";
}

.send-message-form {
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
    padding: 1px;
}

.send-message-form form {
    display: flex;
    margin: auto;
    flex-direction: row;
    height: 100%;
    width: 80%;
    justify-content: center;
    align-items: center;
}



.message-input {
    font-size: 18px;
}

.counter {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-message-button {
    width: 80px;
    height: 90%;
}

.account-settings-component {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.settings {
    width: 100%;
}

.settings article span {
    display: flex;
}

.settings article {
    margin: 10px 0;
}

.avatar {
    width: 300px;
    height: 300px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;


}

form article {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin-bottom: 30px;
}

.avatar-container {
    width: 300px;
    height: 300px;
}

.edit-button {
    display: none;
    position: relative;
    left: 250px;
    top: -50px;
    width: 50px;
    height: 50px;

}

.avatar:hover+.edit-button {
    display: block;
}

.edit-button:hover {
    display: block;
}